.tab-control {
  display: flex;
  height: 40px;
  align-items: center;
  text-align: center;
}

.item {
  flex: 1;
}

.active {
  color: red;
  /* border-bottom: 1px solid red; */

}

.active .item-border {
  border-bottom: 1px solid red;
}